<div class="container">
    <form (ngSubmit)="salvar()">
  
      <br/>
      <h3>{{titulo}}</h3>
      <br/>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Apolo" [(ngModel)]="clubeDoLivro.nome"
                 name="nome">
        </div>
      </div>
      <div class="form-group">
        <label for="descricao">Descrição</label>
        <input type="text" class="form-control" id="descricao" placeholder="Descrição"
               [(ngModel)]="clubeDoLivro.descricao" name="descricao">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade" [(ngModel)]="clubeDoLivro.cidade" name="cidade">
        </div>
        <div class="form-group col-md-4">
          <label for="estado">Estado</label>
          <input type="text" class="form-control" id="estado" [(ngModel)]="clubeDoLivro.estado" name="estado">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
  </div>
  