<div class="container">
  <form (ngSubmit)="salvar()">

    <br/>
    <h3>{{titulo}}</h3>
    <br/>

    <div class="form-row">
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-danger">LIVRO</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn">LISTAS</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn">CATEGORIA</button>
      </div>
    </div>
    <button type="button" class="btn btn-danger">SORTEAR</button>
  </form>
</div>
